.vscode
build
circuits
contracts/Verifier.sol
cli.js
index.js
coverage
coverage.json

rareskills-week4/foundry/test/Pairings.t.sol
rareskills-week4/foundry/test/ECPairing.t.sol
rareskills-week4/foundry/src/ECPairing.sol
rareskills-week4/foundry/src/Pairings.sol